
<div class="row">
    
    <div class="col-xs-7">
           

   <%= form_for(@video,:enctype=>"multipart/form-data",:role=>"form",:html=>{:id=>"videoupload" , :class=>"form-horizontal col-xs-12 col-md-8 col-md-offset-2"}) do |f| %>
   
   <h2><i class="fa fa-video-camera"></i> Video size must be less than 30MB </h2>
   <p>Convert videos to mp4,webm and ogg(extract only sound)</p>
   <p><small>video gets autodeleted on every request</small></p>
   
   <hr>
   
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-12">
                <!-- The fileinput-button span is used to style the file input field as button -->
                 <span class="btn btn-default btn-file width-28 btn-option">
                     Browse a video <input name="video[avatar]" name="fileUpload" type="file" accept="video/*" >
                </span>

            </div>
            <!-- The global progress state -->
            <div class="col-lg-12 fileupload-progress fade mtop">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped well mtop"><tbody class="files "></tbody></table>
    </form>
    <br>
    
    <!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade col-xs-12">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="fa fa-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="fa fa-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade col-xs-12">
        <td>
                {% if (file.thumbnailUrl) { %}
                    <a href="/videos/{%=file.video_id%}" title="{%=file.name%}" class="btn btn-primary" target="_blank"> 
                    View now</a>
                {% } %}

              
        </td>
        <td>
                    {% if (file.error) { %}
                        <p><span class="label label-danger">Error</span> {%=file.error%}</p>
                    {% } %}
                    {% if (file.success) { %}
                        <p><span class="label label-success">Success</span> {%=file.success%}</p>
                    {% } %}    
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>

    </tr>
{% } %}
</script>


   <%end%><!-- form ends -->

</div>
<!--form ends-->

<div class="col-xs-5">
    <h2>Sample video</h2>


            <video autobuffer="autobuffer" preload="auto" width="100%" height="100%" style="width:100%;height:100%;" controls="controls"  >
                <!-- ONLY FOR FLV video -->
        	    <!-- <source src="../samples/videos/ATM2TopHatch.flv" type="video/x-flv"/> -->
                <!-- ONLY FOR MP4 video -->
                 <source src="videos/mySampleVideo.mp4" type="video/mp4"/> 
              
                
            </video>
    
    
</div>



</div><!--  video container ends -->





