<style type="text/css">


ul#myTabs > li.active > a {
    background: #b7e079 none repeat scroll 0 0;
    font-weight: bolder;
    border-bottom: 4px solid green;
}

ul#myTabs > li > a {
    background: #b7e0c2 none repeat scroll 0 0;
    color:#444;
}

</style>


 
  <ul class="nav nav-tabs nav-justified" id="myTabs">
    <li class="active"><a href="#home"  data-toggle="tab">Video Convertor</a></li>
    <li><a href="#profile"  data-toggle="tab" >Youtube Video Downloader</a></li>
  </ul>
  
  <div class="tab-content container-box " >
        <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key} text-center pad10" %>
  <% end %>
    <div class="tab-pane active mtop " id="home">
      <%= render "videos/form" %>
    </div>
    <div class="tab-pane mtop" id="profile">
        <%= render "shared/get_youtube_video"%>
    </div>
  </div>
