<!DOCTYPE html>
<html>
<head>
  <title>RubyVideoConvertor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" >

<div class="row">
      <div class="col-md-12 text-center ">
    <h1 style="color: red;  text-transform: capitalize;"><ins>R-Video convertor</ins></h1>
    <div class="help-block text-success  white"><i>Convert any video in mp4,webm and ogg and Download.</i>
    </div>
    </div>
</div>

  <div id="main_content">
    <%= yield %>
  </div>


<div class="row" style="margin-bottom:30px;margin-top:30px;">
<p class="text-center bg-danger" ><i class='fa fa-smile-o fa-lg' style='padding-right: 5px'></i>Uploaded videos will get deleted on every new request<i class='fa fa-smile-o fa-lg' style='padding-left: 5px'></i></p>
</div>

</div>


</body>
</html>
