<!DOCTYPE html>
<html>
<head>
  <title>RubyVideoConvertor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" >

<div class="row mbot">
      <div class="col-md-12 text-center ">
    <h1 style="text-transform: capitalize; color: rgb(68, 68, 68); font-weight: bold;"><ins>R-Video Convertor/Downloader</ins></h1>
    <div class="white"><i>Convertor/Downloader</i>
    </div>
    </div>
</div>


  <div id="main_content">
      <%= yield %>
    
  </div>




</div>


</body>
</html>
